body {
  /*use 100vh for mobile responsive
Ahmad!!!*/
  height: 100dvh;

  /* How TO - Disable Text Selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: larger;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  /* color: white; */
}
/* prevent Refresh on touchDown */
body {
  overscroll-behavior: contain;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .main {
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
} */

/* //////////////////////////////////// */

.logo {
  width: 150px;
  height: 70px;
  background-image: url("images.png");
  background-size: cover;
  background-position: center;
}

.landing {
  width: 250px;
  height: 120px;
}

.menue {
  position: absolute;
  left: 0;
  height: calc(100% - 100px);
  transition: 0.5s;
}

.main {
  background-color: white;
  width: 60vmin;
  padding: 50px;
}

.l2 {
  background-color: red;
  width: 65vmin;
  padding: 50px;
}

.l3 {
  background-color: black;
  width: 70vmin;
  padding: 50px;
}

.out {
  left: -1000px;
}
.delay1 {
  transition-delay: 0.3s;
}
.delay2 {
  transition-delay: 0.15s;
}

.btn {
  position: absolute;
  cursor: pointer;
}
.close {
  right: 20px;
}
.open {
  left: 10px;
  top: 10px;
}
